.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-body {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.result-box{
  display: block;
  padding: .8rem 4rem;
  margin: .8rem;
  border:0;
  border-radius: 3px;
  font-size: 20px;
  background-color: antiquewhite;
  color: #282c34;
}

.form-box{
  min-width: 50%;
  margin: 0vw;
  position:relative; 
}

.form-box input{
  display: block;
  width: 100%;
  padding: .8rem;
  margin: 2vw 0 ;
  border:0;
  border-radius: 3px;
  font-size: 20px;
}

.form-box label{
  display: block;
  text-align: center;
  font-size: 20px;
  margin: 0 0 2vh 0;
}

.form-box button {
  background-color: #52b58a; /* Green */
  border: none;
  color: white;
  padding: .8rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 3px;
}

.form-box button:hover {
  background-color: #38ad7b; /* Green */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
